div{
}        
#header{

    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
    width: 250px;
    display: inline-block;
    margin-left: 12%;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}
#nav{
    margin-left: 32%;
    display: inline-block;
}

#nav a {
    color: #A0A2A3;
}

.about{ 
    border-right: 2px solid #f0f0f0;
    padding-right: 8px;
    
}

#gray-box{
   padding: 15px;
    min-height: 250px;
    width: 100%;
    background-color: #f2f2f2;

}

section{
    background-color: white;
    width: 750px;
    margin-left: 11%;
    margin-top: 25px;
    margin-bottom: 25px;

}
p{

    width: 60%;
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
}

#sec-head{
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    color: #4aaaa5;
    margin-left: 15px;
    
    
}

.hline{
    margin-left: 50%;
    height: 1px;
    background-color: #dddddd;
    margin: 15px;
    padding-top: 2px;
}

img{
    border: 1px solid rgb(148, 42, 42);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: auto;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#copyright{
    width: 100%;
    height: 35px;
    color: white;
    text-align: center;
    background-color:#666666; 
    border-top: #4aaaa5 solid 5px;
    margin: 0px;
    vertical-align: bottom;
}

#container{
    width: 750px;
}

.col-md-12 input{
    width: 100%;
}

textarea{
    width: 100%;
    height: 200px;
}

#submit input{
    background-color:#4AAAA5;
    margin: 5px;
    color: white;
}

.row{
    text-align: center;
}

.portfoliotile img{
    height: auto;
    width: 225px;
   
}

.portfoliotile{
    position: relative;
}

.portfoliotile h6{
    background: #4aaaa5;
    width: 217px;
    height: 41px;
    padding: 10px;
    margin-left: 29px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    top: 92px;
    position: absolute;
}

@media only screen and (max-width: 980px){
    body { 
        background-color: green;    
    }
}


